:not(pre) > code[class*=language-],
pre[class*=language-] {
    background: #f5f2f0;
}

pre[class*=language-] {
    background: #f5f2f0;
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

code[class*=language-],
pre[class*=language-] {
    color: #000;
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
}
