@import './../../../scss/variables';
@import './../../../scss/mixin';

.c-slide {
    padding: $gutter-double;
    min-height: 80vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    p {
        @include font(p);
        font-size: $typo-size-large;
        margin: $gutter-default auto;
    }

}
